body{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
color: white;

}

#Main
{
    /* padding-bottom: 20%; */

}

.material-icons.orange600 { color: #e57373  }


#Loading
{
    padding-top: 20%
}
/* #days
{
    height: auto;
    width: 30px;

} */

